*,
*::before,
*::after {
    box-sizing: border-box;
}

/* *
  |============================
  | background
  |============================ */

:root {
    --primary-bgc: #ffffff;
    --hero-bgc: #c4c4c4;
    --secondary-bgc: #f5f4fa;
    --footer-bgc: #2f303a;
    --portfolio-bgc-thumb: rgba(33, 150, 243, 0.9);
    --bgc-work-card: rgba(47, 48, 58, 0.8);

    /**
    |============================
    | text-cl
    |============================
  */
    --primary-text-cl: #212121;
    --secondary-text-cl: #757575;

    /**
    |============================
    | accent-cl
    |============================
  */
    --accent-text-cl: #ffffff;
    --accent-text-cl-60: rgba(255, 255, 255, 0.6);
    --accent-black: #000000;
    --accent-blue: #2196f3;

    --icon-social: #afb1b8;
    --icon-customer: #afb1b8;
    --icon-bgc: rgba(255, 255, 255, 0.1);

    --bgc-btn: #188ce8;

    /**
    |============================
    | Animation
    |============================
  */
    --animation-time: 250ms;
    --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Загальні
  |============================
*/

body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-cl);
    background-color: var(--primary-bgc);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
a,
p {
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}

.btn {
    cursor: pointer;
    border: none;
    margin: 0;
}

/* social */
.social-list {
    display: flex;
    gap: 10px;
}

.social-list__link {
    transition: background-color var(--animation-time) var(--animation-cubic),
        color var(--animation-time) var(--animation-cubic);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--accent-text-cl);
}

.social-list__link:hover,
.social-list__link:focus {
    background-color: var(--accent-blue);
}

.social-list__icon {
    fill: currentColor;
}

/* section */
.section {
    padding: 94px 0;
}

.section__title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

/**
  |============================
  | Container
  |============================
*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.position {
    display: flex;
}

/**
  |============================
  | visually-hidden
  |============================
*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/**
  |============================
  | header
  |============================
*/
.page-header {
    border-bottom: 1px solid #ececec;
}

/* nav */
.logo {
    color: var(--accent-blue);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03;
}

.page-heder__logo {
    padding: 24px 0;
    margin-right: 93px;
}

.page-heder__logo--color-black {
    color: var(--accent-black);
}

.nav__list {
    gap: 50px;
}

.nav__link {
    position: relative;

    transition: color var(--animation-time) var(--animation-cubic);

    display: flex;
    align-items: center;
    padding: 32px 0;

    color: var(--primary-text-cl);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav__link--active::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-blue);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-blue);
}

/* contacts */
.contacts-list {
    margin-left: auto;
    gap: 30px;
}

.contacts-list__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    gap: 10px;

    color: var(--secondary-text-cl);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts-list__link:hover,
.contacts-list__link:focus {
    color: var(--accent-blue);
}

.contacts-list__icon {
    fill: currentColor;
}

/**
  |============================
  | main, hero
  |============================
*/
.hero {
    background-color: var(--hero-bgc);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../BCG/team.jpg);

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    margin-right: auto;
    margin-left: auto;
}

.hero__title {
    color: var(--accent-text-cl);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    width: 696px;
    margin-bottom: 30px;
}

.hero__btn {
    transition: background-color var(--animation-time) var(--animation-cubic);

    color: var(--accent-text-cl);
    background-color: var(--accent-blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero__btn:hover,
.hero__btn:focus {
    background-color: var(--bgc-btn);
}

/* feature */
.features-list {
    gap: 30px;
}

.features-list__item {
    width: 270px;
}

.features-list__item::before {
    display: block;
    height: 120px;
    content: '';
    background-color: var(--secondary-bgc);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.features-list__item:nth-child(1)::before {
    background-image: url(../svg-feature/antenna.svg);
}

.features-list__item:nth-child(2)::before {
    background-image: url(../svg-feature/clock.svg);
}

.features-list__item:nth-child(3)::before {
    background-image: url(../svg-feature/diagram.svg);
}

.features-list__item:nth-child(4)::before {
    background-image: url(../svg-feature/astronaut.svg);
}

.features-list__title {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.features-list__text {
    color: var(--secondary-text-cl);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/* work */
.section--margin-top {
    margin-top: 0;
}

.work-list {
    gap: 30px;
}

.work-list__thumb {
    position: relative;
}

.work-list__text {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    padding: 27px 0;

    background-color: var(--bgc-work-card);
    color: var(--accent-text-cl);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
}

/* team */
.section--bgc {
    background-color: var(--secondary-bgc);
}

.team-list {
    gap: 30px;
}

.team-list__item {
    background-color: var(--primary-bgc);

    min-width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list__content {
    padding: 30px 32px;
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team-list__title {
    font-weight: 500;
    font-size: inherit;

    margin-bottom: 10px;
}

.team-list__text {
    color: var(--secondary-text-cl);

    margin-bottom: 16px;
}

.social-list__link--color-gray {
    color: var(--icon-social);
}

.social-list__link--color-gray:hover,
.social-list__link--color-gray:focus {
    color: var(--accent-text-cl);
}

/* customer */
.customer-list {
    gap: 30px;
}

.customer-list__item {
    width: 170px;
    height: 92px;
}

.customer-list__link {
    transition: color var(--animation-time) var(--animation-cubic);
    /*Была запятая*/
    border-color: var(--animation-time) var(--animation-cubic);

    color: var(--icon-customer);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid var(--icon-customer);
    border-radius: 4px;
}

.customer-list__icon {
    fill: currentColor;
}

.customer-list__link:hover,
.customer-list__link:focus {
    color: var(--accent-blue);
    border-color: var(--accent-blue);
}

/* footer */
.footer {
    background-color: var(--footer-bgc);
    padding: 60px 0;
}

.footer-container {
    align-items: baseline;
    justify-content: space-between;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer__logo--color-white {
    color: var(--accent-text-cl);
}

.footer__title {
    color: var(--accent-text-cl);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
}

/* address */
.address__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.address__link {
    transition: color var(--animation-time) var(--animation-cubic);

    color: var(--accent-text-cl-60);
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.address__link--color-white {
    color: var(--accent-text-cl);
}

.address__link:hover,
.address__link:focus {
    color: var(--accent-blue);
}

/* join */
.social-list__link--bgc {
    background-color: var(--icon-bgc);
}

/* subscribe */
.subscribe__form {
    display: flex;

    gap: 12px;
}

.subscribe__input {
    outline: none;

    width: 348px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--footer-bgc);
    text-decoration-color: var(--accent-text-cl);
    color: var(--accent-text-cl);
    padding: 16px;
}

.subscribe__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--accent-blue);
    color: var(--accent-text-cl);
    border: none;
    padding: 10px;
    letter-spacing: 0.06em;
    line-height: 30px;
    cursor: pointer;
}

.subscribe__btn:hover {
    background-color: #188ce8;
}

/* portfolio */
/* btn */
.portfolio-btn-list {
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.portfolio-btn-list__btn {
    transition: color var(--animation-time) var(--animation-cubic),
        background-color var(--animation-time) var(--animation-cubic);

    padding: 6px 22px;
    border-radius: 4px;

    color: currentColor;
    background-color: var(--secondary-bgc);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
}

.portfolio-btn-list__btn:hover,
.portfolio-btn-list__btn:focus {
    color: var(--accent-text-cl);
    background-color: var(--accent-blue);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* card */
.portfolio-list {
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-list__item {
    width: 370px;
    height: 404px;

    position: relative;
}

.portfolio-list__link {
    transition: box-shadow var(--animation-time) var(--animation-cubic);
    display: block;
    height: 100%;
    border: 1px solid #eeeeee;
}

.portfolio-list__link:hover,
.portfolio-list__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
    position: relative;
    overflow: hidden;
}

.thumb__text {
    position: absolute;

    left: 0;

    transition: transform var(--animation-time) var(--animation-cubic);

    display: block;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    background-color: var(--portfolio-bgc-thumb);
    color: var(--accent-text-cl);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    transform: translateY(0);
}

.portfolio-list__link:hover .thumb__text,
.portfolio-list__link:focus .thumb__text {
    transform: translateY(-101%);
}

.portfolio-list__content-box {
    padding: 20px 24px;
}

.portfolio-list__title {
    color: var(--primary-text-cl);
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.portfolio-list__text {
    color: var(--secondary-text-cl);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}

/* modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.06);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;
    padding: 40px;

    background-color: var(--primary-bgc);
}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;

    transition: color var(--animation-time) var(--animation-cubic);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);

    background-color: inherit;
}

.modal__btn:hover,
.modal__btn:focus {
    color: var(--accent-blue);
}

.modal__btn:hover .modal__icon,
.modal__btn:focus .modal__icon {
    fill: currentColor;
}

/* form */
.modal-form__title {
    display: block;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
}

.modal-form__label {
    position: relative;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    color: var(--secondary-text-cl);
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.modal-form__label:nth-child(5) {
    margin-bottom: 20px;
}

.modal-form__input {
    outline: none;

    transition: border-color var(--animation-time);
    padding: 11px 0 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-form__input:focus {
    border-color: var(--accent-blue);
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 10px;

    transition: fill var(--animation-time);
}

.modal-form__input:focus + .modal-form__icon {
    fill: var(--accent-blue);
}

.modal-form__text {
    margin-bottom: 4px;
}

.modal-form__textarea {
    resize: none;
    outline: none;

    transition: border-color var(--animation-time);

    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.modal-form__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:focus {
    border-color: var(--accent-blue);
}

.form-policy {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 13px;
    margin-bottom: 30px;
}

.form-policy__text {
    color: var(--secondary-text-cl);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.form-policy__link {
    color: var(--accent-blue);
}

.svg-check {
    opacity: 0;

    transition: opacity var(--animation-time);
}

.form-policy__check:checked + .form-policy__svg .svg-check {
    opacity: 1;
}

.svg-uncheck {
    transition: opacity var(--animation-time);
}

.form-policy__check:checked + .form-policy__svg .svg-uncheck {
    opacity: 0;
}

.modal-form__btn {
    display: block;
    padding: 10px 52px;
    margin: 0 auto;

    background-color: var(--accent-blue);
    color: var(--accent-text-cl);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.modal-form__btn:hover,
.modal-form__btn:focus {
    background-color: var(--bgc-btn);
}
